[Unit]
Description=Background Daemon Unit for Atuin-Daemon

[Service]
Type=simple
ExecStart=/home/michael/.atuin/bin/atuin daemon

[Install]
WantedBy=default.target
