#!/usr/bin/env bash

whatismyip(){
    # Avoid using dig as some suggest. Instead use HTTPS for privacy of request source
    wget -qqO- 'https://duckduckgo.com/?q=what+is+my+ip' | grep -ow 'Your IP address is [0-9.]*[0-9]' | grep -ow '[0-9][0-9.]*'
}