# Secrets
*/bashconfig/.secrets
*/bashconfig/.inject_secrets

# Backup tarballs (created by 'dotfiles backup' / first install)
dotfiles.tar-*
*.tar
*.tar.gz
*.tgz

# Environment / credentials
.env
.env.*

# Font cache
linux/homedir/.fonts/.uuid