### Use this dotfile for declaring shell aliases ###

# Set color flags used in subsequent aliases
colorflag="--color"

# List all files colorized in long format, excluding . and ..
alias ls="ls -lAF ${colorflag}"

# List only directories
alias lsd="ls -lF ${colorflag} | grep --color=never '^d'"

# List with guid/uid
alias ll="command ls -lAFn ${colorflag}"

# Always enable colored `grep` output
# Note: `GREP_OPTIONS="--color=auto"` is deprecated, hence the alias usage.
alias grep='grep --color=auto'
alias fgrep='fgrep --color=auto'
alias egrep='egrep --color=auto'

# Print each PATH entry on a separate line
alias path='echo -e ${PATH//:/\\n}'

# Show whitespace characters
alias whitespace="sed 's/ /·/g;s/\t/￫/g;s/\r/§/g;s/$/¶/g'"

# Use Rsync to copy
alias rcp="rsync -HAXhaxvPS --numeric-ids --stats"